@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  position : relative;
}
.color-white{
color: #fff;
}
.color-black{
color: #000;
}
.color-blueblack{
color: #004E64;
}
.card-details{
font-size: .6rem;

}
.img-adjust{
width: 100%;
height: 270px;}


.card-horizontal {
display: flex;
flex: 1 1 auto;
}


.btn-outline {
color: #4fbfa8;
background-color: #ffffff;
border-color: #4fbfa8;
font-weight: bold;
letter-spacing: 0.05em;
}

.btn-outline {
color: #4fbfa8;
background-color: #ffffff;
border-color: #4fbfa8;
font-weight: bold;
border-radius: 0;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
background: #4fbfa8;
color: #ffffff;
border-color: #4fbfa8;

}


.btn-fill-1 {
color: #fff;
background-color: #004E64;
border-color: #004E64;
font-weight: bold;
letter-spacing: 0.05em;
border-radius: 0;
}

.btn-fill-1:hover,
.btn-fill-1:active,
.btn-fill-1:focus,
.btn-colour-1.active {
/* let's darken #004E64 a bit for hover effect */
background: #003D4F;
color: #ffffff;
border-color: #003D4F;
}






/* ####################### Hero Section ########################### */
#hero {
  width: 100%;
  height: 100vh;
  background: url("https://wallpapercave.com/wp/gGtpqYZ.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 70px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 30px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #cc1616;
  border-color: #cc1616;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
  }
  #hero .container {
    padding-top: 40px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


/* ####################### Header ########################### */

#header {
  background: rgba(52, 58, 64, 0.2);
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  top: 0;
  background: rgba(0, 0, 0,0);
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    top: 0;
    padding: 15px 0;
    background: transparent;
  }
  #header .logo {
    font-size: 28px;
  }
}

.header-inner-pages {
  background: rgba(0, 0, 0, 0.9) !important;
}

/* ####################### Navigation ########################### */

/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 18px 15px;
  margin-left: 5px;
  transition: 0.3s;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li:hover, .nav-menu .active {
  background: rgb(204, 22, 22);
}


.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #e82d2d;
}



/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #191919;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #e82d2d;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
 


.oswald{
   font-family: 'Oswald', sans-serif;
}

h4{
    font-size:2em;
}
p{
    font-size:1.3em;
    line-height:1.1em;
}
.card {
  width: 100%; 
  height: 300px;
  color:#D6D600;
}

.card-img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
}
.card:hover .card-img,
.card:focus .card-img {
  transform: scale(1.02);
  opacity:0.5;
}

.card:hover .card-img-overlay{
    color:#730d0d;
}

.card-img-overlay>h4, .card-img-overlay>p{
    visibility:hidden;
}

.card-img-overlay:hover h4, .card-img-overlay:hover p{
    visibility: visible;
}

.card:hover .card-img-overlay p{
    font-size:1.5em;
    letter-spacing:0.02em;
}



/* ####################### Footer ########################### */

footer {
   width:100%;
    background-color:#0D0F10; 
    color: #730d0d;
    padding:10px 0px 25px 0px ;
  }
footer p { font-size:13px;
   color:#CCC;
    padding-bottom:0px; 
    margin-bottom:8px;}


.social_footer_ul {
   display:table;
    margin:15px auto 0 auto;
     list-style-type:none;  }

.social_footer_ul li { 
  padding-left:20px;
   padding-top:10px; 
   float:left; }
.social_footer_ul li a { 
  color:#CCC;
   border:1px solid #CCC; 
   padding:8px;
   border-radius:50%;}
.social_footer_ul li i { 
   width:20px;
    height:20px; 
    text-align:center;}